In [5]:
import pandas as pd 

print (pd.__version__)
print(pd.show_versions(as_json=True))

0.25.1
{'system': {'commit': None, 'python': '3.7.4.final.0', 'python-bits': 64, 'OS': 'Windows', 'OS-release': '10', 'machine': 'AMD64', 'processor': 'Intel64 Family 6 Model 94 Stepping 3, GenuineIntel', 'byteorder': 'little', 'LC_ALL': 'None', 'LANG': 'None', 'LOCALE': 'None.None'}, 'dependencies': {'pandas': '0.25.1', 'numpy': '1.16.5', 'pytz': '2019.3', 'dateutil': '2.8.0', 'pip': '19.2.3', 'setuptools': '41.4.0', 'Cython': '0.29.13', 'pytest': '5.2.1', 'hypothesis': None, 'sphinx': '2.2.0', 'blosc': None, 'feather': None, 'xlsxwriter': '1.2.1', 'lxml.etree': '4.4.1', 'html5lib': '1.0.1', 'pymysql': None, 'psycopg2': None, 'jinja2': '2.10.3', 'IPython': '7.8.0', 'pandas_datareader': None, 'bs4': '4.8.0', 'bottleneck': '1.2.1', 'fastparquet': None, 'gcsfs': None, 'matplotlib': '3.1.1', 'numexpr': '2.7.0', 'odfpy': None, 'openpyxl': '3.0.0', 'pandas_gbq': None, 'pyarrow': None, 'pytables': None, 's3fs': None, 'scipy': '1.3.1', 'sqlalchemy': '1.3.9', 'tables': '3.5.2', 'xarray': None, 'xlrd': '1.2.0', 'xlwt': '1.3.0'}}
None

In [19]:
# create a series from a list, numpy array and dict

import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

listSeries = pd.Series(mylist)
arrSeries = pd.Series(myarr)
dictSeries = pd.Series(mydict)

In [41]:
# convert the index of a series into a column of a dataframe 

df = dictSeries.to_frame('Values').reset_index()
df

   index  Values
0      a       0
1      b       1
2      c       2
3      e       3
4      d       4
5      f       5
6      g       6
7      h       7
8      i       8
9      j       9
10     k      10
11     l      11
12     m      12
13     n      13
14     o      14
15     p      15
16     q      16
17     r      17
18     s      18
19     t      19
20     u      20
21     v      21
22     w      22
23     x      23
24     y      24
25     z      25

In [69]:
# Combine Series to form Dataframe

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = pd.concat([ser1, ser2], axis=1)
df

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

In [76]:
# Assign name to series index 

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabets'
ser.head(3)

0    a
1    b
2    c
Name: alphabets, dtype: object

In [78]:
# Items of A not in B

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [80]:
# Items not common in both 

ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [83]:
# min, 25th, median, 75th, , max 

ser = pd.Series(np.random.normal(10, 5, 25))
ser

0      3.912418
1     16.415280
2      6.414044
3     14.117853
4      6.588161
5      0.519914
6     16.416897
7     14.291215
8     10.206918
9      7.783553
10    16.366820
11    10.350897
12    17.489170
13     6.741520
14    12.676424
15    18.614850
16    10.365230
17    15.027266
18    13.844555
19     1.983048
20    16.408488
21     6.616522
22     8.372985
23    13.800656
24     8.050938
dtype: float64

In [130]:
# frequency counts of unique items of a series 
ser =  pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size= 30)))

ser.value_counts()

h    8
f    5
b    4
a    4
c    4
d    2
g    2
e    1
dtype: int64

In [132]:
# Keep 2 most frequent values and replace everything else as 'Other'

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [156]:
print ("Top 2 frequency" ,ser.value_counts()[0:2])
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
~ser.isin(ser.value_counts().index[:2])

Top 2 frequency 1    4
2    4
dtype: int64

0      True
1      True
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
dtype: bool

In [157]:
ser

0     Other
1     Other
2     Other
3     Other
4         2
5         2
6         1
7         1
8         1
9         2
10        2
11        1
dtype: object